@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 0, 123, 255; /* Adjust primary color */
  --foreground-rgb: 50, 50, 50; /* Adjusted text color for better contrast */
  --background-rgb: 0, 123, 255; /* Single background color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: 0, 123, 255; /* Adjust primary color */
    --foreground-rgb: 50, 50, 50; /* Adjusted text color for better contrast */
    --background-rgb: 0, 123, 255; /* Single background color */;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
  background-color: rgb(var(--background-rgb)); /* Set a single background color */
  font-family: 'Lato', sans-serif; /* Set font family to Lato */
  font-weight: 400; /* Adjust font weight */
}
.bg-primary{
  background-color: #e86f13;
  color: #fff;
}
.bg-primary:hover {
  background-color: #e86f13;
 
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 0;
}

.scroll-to-top.show {
  opacity: 1;
}

.scroll-to-top.hide {
  opacity: 0;
}
